.professor__info {
    text-align: left;
    font-size: clamp(0.875rem, 0.788rem + 0.385vw, 1rem);

    .total__score {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        gap: 30px;

        span { 
            background-color: green;
            color: white;
            box-sizing: border-box;
            padding: 5px;
            border-radius: 5px;
        }

        &.warning {
            span {
                background-color: red;
            }
        }
    }

    .comment__block {
        h4 {
            margin-bottom: 20px;
        }
    }
}