h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

.auth__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.intro__block{
    padding-top: 115px;
    text-align: center;
    color: white;
    
    h1{
        font-family: 'Tektur', sans-serif;
        font-size: 82px;
        line-height: 100%;
        margin-bottom: 16px;
    }

    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        line-height: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .auth__container{
        gap: 40px;
    }

    .intro__block{
        h1 {
            font-size: 60px;
        }
    }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    .auth__container{
        gap: 25px;
    }

    .intro__block{
        h1 {
            font-size: 52px;
            text-align: left;
            padding: 0px 30px;
        }

        p {
            display: none;
        }
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .intro__block{
        h1 {
            font-size: 42px;
        }
    }
}