.link__container{ 
    display: flex;
    flex-direction: column;
    gap: 27px;
    text-align: left;

    a{ 
        width: 100%;
        text-decoration: none;
        box-sizing: border-box;
        padding: 10px 60px;
        border: 2px solid #878787;
        border-radius: 20px;

        color: #000;
        font-family: Montserrat;
        font-size: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
    }
}

@media screen and (min-width: 360px) and (max-width: 1000px) {
    .link__container {
        gap: 16px;

        a {
            padding: 10px 20px;
        }
    }
    
}