.selected__field { 

    td:last-child{
        display: flex;
        border: none;
        justify-content: center;
    }

    select {
        text-align: center;
        width: 100%;
        border: none;
        outline: none;
        font-size: 22px;
        font-family: Montserrat;

        overflow-y: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar{
            display: none;
        }
    }

    .done__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #0045BD;

        img {
            width: 18px;
            height: 16px;
        }

        &:hover {
            background-color: #00CFDC;
        }
    }
}