.editable__item {
    display: flex;
    align-items: center;
    gap: 15px;

    input{
        font-family: Montserrat;
        font-size: 16px;
        width: 300px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 8px;
        border: 1px black solid;
        outline: none;
    }

    .done {
        background: #1410D6;
        border-radius: 8px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    img {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
}