.button__container{
    display: flex;
    justify-content: center;
    gap: 30px;

    button, a{
        box-sizing: border-box;
        padding: 15px 30px;
        border: none;
        border-radius: 16px;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 800;
    }

    button{
        background-color: #00ACB7;
        color: #FFF;
    }

    a{  
        background-color: #FFF;
        color: #00ACB7;
        text-decoration: none;
    }

    
}