.container{
    width: 1920px;
    box-sizing: border-box;
    padding: 100px;
    margin: auto;
}

.main__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user__info{
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: Montserrat;
        font-size: 25px;

        p{
            margin-top: 10px;
            font-size: 16px;
        }
    }

    h1{
        color: #F4F4F4;
        font-family: Tektur;
        font-size: 82px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
    }

    a {
        text-decoration: none;
        border: none;
        background-color: #00CFDC;
        color: #FFF;

        &:hover{
            background: #1410D6;
        }
    }
}

.main__body{
    margin-top: 60px;
}

@media screen and (min-width: 1400px) and (max-width: 1920px) {
    .container{
        width: 1400px;
        padding: 100px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .container{
        width: 1000px;
        padding: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .container{
        width: 768px;
        padding: 100px;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .container{
        width: 480px;
        padding: 40px;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .container{
        width: 360px;
        padding: 20px;
    }
}