.container{
    width: 1920px;
    box-sizing: border-box;
    padding: 100px;
    margin: auto;
}

@media screen and (min-width: 1400px) and (max-width: 1920px) {
    .container{
        width: 1400px;
        padding: 100px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .container{
        width: 1000px;
        padding: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .container{
        width: 768px;
        padding: 50px;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .container{
        width: 480px;
        padding: 40px;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .container{
        width: 360px;
        padding: 20px;
    }
}