.button__style{
    box-sizing: border-box;
    padding: 15px 30px;
    border: none;
    border-radius: 16px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 800;
    background-color: #00CFDC;
    color: #FFF;
    cursor: pointer;

    &:hover{
        background: #1410D6;
    }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    .button__style {
        font-size: 20px;
        padding: 10px 20px;
    }
}

@media screen and (min-width: 360px) and (max-width: 460px) {
    .button__style {
        font-size: 16px;
    }
}