.button__style{
    box-sizing: border-box;
    padding: 15px 25px;
    border: none;
    border-radius: 16px;
    font-family: Montserrat;
    font-size: clamp(0.75rem, 0.5rem + 0.8vw, 1rem);
    font-weight: 800;
    background-color: #00CFDC;
    color: #FFF;
    cursor: pointer;

    &:hover{
        background: #1410D6;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .button__style {
        padding: 12px 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .button__style {
        padding: 10px 20px;
    }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    .button__style {
        padding: 8px 12px;
    }
}