.field__container{
    width: 100%;
    min-height: 700px;
    background-color: white;
    border-radius: 20px;
    padding: 47px 80px;
    box-sizing: border-box;
    
    color: #000;
    font-family: Montserrat;
    text-align: center;

    h4{
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
    }
}