.my__input {
    width: 100%;
    font-family: "Montserrat";
    font-size: clamp(0.75rem, 0.663rem + 0.385vw, 1.125rem);
    border-radius: 16px;
    background-color: #D9D9D9;
    border: none;
    height: 57px;
    outline: none;
    box-sizing: border-box;
    padding: 18px;
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .my__input {
        height: 45px;
        padding: 14px;
    }
    
}

@media screen and (min-width: 360px) and (max-width: 1000px) {
    .my__input {
        height: 35px;
        padding: 10px;
    }
    
}