.disciplines__table {
    width: 100%; 
    margin-top: 50px;
    font-family: Montserrat;
    font-size: 24px;

    &, th, td {
        border: 1px solid black;
        border-collapse: collapse;

        box-sizing: border-box;
        padding: 15px 32px;
    }

    tbody{ 
        text-align: center;
        font-size: 22px;

        tr{
            td{
                &:first-child{
                    text-align: left;
                }
            }
        }
    }
}