.disciplines__container{
    margin-top: 25px;
    text-align: left;

    .disciplines__table {
        text-align: center;
        width: 100%; 
        margin-top: 20px;
        font-family: Montserrat;
        font-size: 20px;
        border-collapse: separate;
        border: 1px solid #D9D9D9;
        border-radius: 20px;
    
        &, th, td {
            box-sizing: border-box;
            padding: 15px 32px;
    
            img {
                cursor: pointer;
            }
        }
    
        tbody{ 
            text-align: center;
    
            tr{
                td{
                    &:first-child{
                        text-align: left;
                    }
                }
            }
        }
    }
}
