.auth__container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 470px;
}

.auth__form{
    background-color: white;
    border-radius: 26px;
    box-sizing: border-box;
    padding: 35px 37px 67px 37px;
    display: flex;
    flex-direction: column;
    gap: 52px;

    div{
        font-family: "Montserrat";
        font-weight: 400;
        display: flex;
        flex-direction: column;
        gap: 19px;

        label{
            font-size: 18px;
        }

        input{
            font-family: "Montserrat";
            font-size: 18px;
            border-radius: 16px;
            background-color: #D9D9D9;
            border: none;
            height: 57px;
            outline: none;
            box-sizing: border-box;
            padding: 18px;
        }

        .validate__error{
            color: red;
            font-size: 16px;
        }
    }

    .server__message{
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
}