.added__row {
    td > select {
        text-align: center;
        width: 100%;
        border: none;
        outline: none;
        shape-outside: none;
        font-size: clamp(0.75rem, 0.663rem + 0.385vw, 1.125rem);
        font-family: Montserrat;

        overflow-y: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar{
            display: none;
        }

        option {
            font-size: clamp(0.75rem, 0.663rem + 0.385vw, 1.125rem);
        }
    }   
}