.added__row {
    td > button {
        padding: 10px 15px;
        font-size: 20px;
    }

    td > select {
        text-align: center;
        width: 100%;
        border: none;
        outline: none;
        shape-outside: none;
        font-size: 22px;
        font-family: Montserrat;

        overflow-y: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar{
            display: none;
        }
    }

    input{
        width: 100%;
        font-family: "Montserrat";
        font-size: 18px;
        border-radius: 16px;
        background-color: #D9D9D9;
        border: none;
        height: 57px;
        outline: none;
        box-sizing: border-box;
        padding: 18px;
    }   
}